div.alert {
    position: absolute;
    z-index: 1;

    align-items: center;
    justify-self: center;
    margin-top: 5px;
    width: max-content;
    height: 75px;
    transition: all 250ms ease-in-out 0s;

    border-radius: 3px;
    border: 2px solid #f5c6cb;

    font-weight: 500;
    font-size: x-large;
    color: #721c24;
    background-color: #f8d7da;
}

div.alert-show {
    opacity: 1;
    transition: opacity 250ms ease-in-out 0s;
}

div.alert-hide {
    opacity: 0;
    transition: opacity 250ms ease-in-out 3s;
}